@media (prefers-color-scheme:light){
    body{
     color:#000000;
     background-color: #ffffff;
    }
}
@media (prefers-color-scheme:dark){
   body{
     color:#ffffff;
     background-color: #000000;
   }
}